@font-face {
  font-family: 'Aileron Heavy';
  src: url(../assets/aileron_font/Aileron-Heavy.otf);
}

@font-face {
  font-family: 'Aileron Bold';
  src: url(../assets/aileron_font/Aileron-Bold.otf);
}

:root {
  --bg-colour: #282828;
  --primary-colour: #77dd76;
  --accent-good: #bde7bd;
  --accent-bad: #ffb6b3;
  --main-bad: #ff6962;
  --text-main: #e7e7e7;
  --input-color: #343434;
  --card1-color: #fcd45b;
  --card-nifty: #554994;
}

body {
  height: 100vh;
  background-color: var(--bg-colour);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  font-family: 'Aileron Bold';
}

#bg-blob {
  position: absolute;
  height: 400px;
  aspect-ratio: 1;
  z-index: -10;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--primary-colour),
    var(--accent-good)
  );
  animation: rotate 20s infinite;
}

#blur-layer {
  z-index: -9;
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(500px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-shrink: 0;
}

.logo-text {
  font-family: 'Aileron Heavy';
  font-size: 1.5rem;
  user-select: none;
}

/* styling for the landing page */

.landing-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.hero-area {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  gap: 6rem;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#searchInput {
  all: unset;
  width: 35%;
  height: 3rem;
  background-color: var(--input-color);
  color: var(--text-main);
  border-radius: 10px;
}

.bottom-area {
  display: flex;
  justify-content: flex-end;
}

.card-area {
  width: 12rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.preview-card {
  height: 6rem;
  background-color: #ff6962;
  border-radius: 10px;
}

.preview-card.btc {
  background-color: var(--card1-color);
}

.preview-card.nifty {
  background-color: var(--card-nifty);
}

/* End - Styling for landing page */

/* Animations */

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.3;
  }
  to {
    rotate: 360deg;
  }
}
